/* Header.module.css */
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    background-color: #24292e; /* Example background color */
    color: #fff; /* Example text color */
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    width: 40 px;
    height: 40 px;
    margin-right: 8 px;
  }
  
  .logoName {
    font-size: 24 px;
    font-weight: bold;
  }
  
  .loginContainer {
    display: flex;
    margin-right: 20px;
  }
  
  .loginButton {
    padding: 10 px 16 px;
    background-color: #0366d6; /* Example background color */
    color: #fff; /* Example text color */
    border: none;
    cursor: pointer;
    font-size: 16 px;
    font-weight: bold;
  }
  
  .loginButton:hover {
    background-color: #0356c7; /* Example hover background color */
  }
  